{% extends "mapit/base.html" %}
{% load i18n %}

{% block title %}Import branches from CSV - task status{% endblock title %}

{% block content %}

<h2>Import branches from CSV</h2>

<div id="taskStatus"{% if queued %} hx-get="{% url "mapit_labour-import_csv_status" queued.task_id %}" hx-trigger="every 5s" hx-swap="outerHTML" hx-select="#taskStatus"{% endif %}>
{% if task and task.success %}
    {% if task.result.error %}
        <h3>Import failed</h3>
        <p>{{ task.result.error }}</p>
    {% else %}
        <h3>Import finished</h3>
        <a href="/areas/LBR.html">View area list</a>
        <dl>
            <dt>Created:{% if not task.kwargs.commit %} (not committed){% endif %}</dt>
            <dd>{{ task.result.created }}</dd>
            <dt>Updated:{% if not task.kwargs.commit %} (not committed){% endif %}</dt>
            <dd>{{ task.result.updated }}</dd>
            
            {% if task.result.warnings %}
                <dt>{{ task.result.warnings|length }} warning{{ task.result.warnings|pluralize:"s" }}:</dt>
                <dd>
                    <ul>
                        {% for warning in task.result.warnings %}
                            <li>{{ warning }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
    {% endif %}
{% elif queued %}
    <h3>Import is being processed, please wait...</h3>
    <p>This page will reload automatically when the import has finished.</p>
{% else %}
    <p>Error</p>
{% endif %}
</div>

{% endblock %}
